
.search-text-box{
    min-width: 90%;
    height:22px;
    border : 1px solid black;
    outline: none;
    border-radius:10px;
    background-color: rgb(216, 216, 216);
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .input{
    border: none;
    outline: none;
    flex: 0.98 1 auto;
    background-color:inherit;
  }